body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #2c3e50;
    color: white;
}

nav {
    background: gold;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-align:center;
}

.container {
    width: 90%;
    margin: auto;
}

.main-title {
    text-align: center;
    font-size: 40px;
    color: gold;
}

.genre-buttons .btn {
    padding: 10px 20px;
    background: gold;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

.caption {
    font-style: italic;
    font-weight: bold;
    color: #9b59b6;
}

.trailer-btn {
    display: block;
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.select-message {
    text-align: center;
    margin-top: 20px;
}

.home-body {
    background: linear-gradient(to bottom right, #111, #333, #555);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-container {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.home-title {
    font-size: 60px;
    font-weight: bold;
    color: gold;
}

.home-tagline {
    font-size: 24px;
    margin-bottom: 20px;
}

.start-btn {
    padding: 15px 30px;
    background: gold;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.start-btn:hover {
    background: white;
    color: black;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}